<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <i class="fas fa-house-user" style="font-size:48px; color:forestgreen"></i>
            Resources for
            the Homeless
        </a>
        
        <!-- Links -->
        <div class="right_nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
                <div class="divider"></div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log In</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="#">Housing</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Food</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Jobs</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Conseling</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-6">Are you homeless or at risk of hommelessness?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum exercitationem harum voluptates pariatur? Ipsum, voluptate molestias vel consectetur ea deleniti, repellendus veritatis magnam, neque veniam ratione! Dolorem maiores odio sed.</p>
        <p class="lead">
        <a class="btn btn-success btn-lg" href="#" role="button">Get Help Now!</a>
        </p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <a class="navbar-brand" href="#">
                    <i class="fas fa-bed fa-5x circle-icon" style="font-size:48px; color:forestgreen"></i>
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-6">
                <h3>Column 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-6">
                <h3>Column 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
    </div>
</body>
</html>
